header {
 &.feedback{
  box-shadow: none;
  height: 25vh;;
  .nav {
    width: 120%;
    height: 18vh;
    // background: linear-gradient(to right, #f5bba6 0%, #cf8d75 100%);
    margin: 0 0 0 -10%;
    border-radius: 0 0 80px 80px;
    color: #dcdcdc;
    ul {
      width: 90%;
      margin: 0 auto;
      height: 6vh;

      li {
        font-size: 2.4vh;
        color: #fff;
        padding-top: 3px;
        &:nth-child(3) {
          font-size: 18px;
        }
      }
    }

    .hellocard {
      display: inline-block;
      background: #ffffff;
      width: 76%;
      height: auto;
      margin: 2vh auto 0 auto;
      border-radius: 7px;
      border: solid 1px #d1b292;

      .manhead {
        float: left;
        border-radius: 80px;
        width: 16%;
        height: auto;
        background: #ccc;
        margin: 5% 3% 5% 5%;
      }

      .text {
        float: left;
        text-align: left;
        margin: 23px 0 0 0;

        h1 {
          color: #39455b;
          font-size: 20px;
          font-weight: 400;
        }

        span {
          color: #7689a4;
          font-size: 15px;
          line-height: 30px;
        }
      }
    }
  }
}
 }

main {
  height: calc(100% - 44px - 50px);
  overflow-y: hidden;
  padding: 22vh 0 0 0;
  ul[class="menu"] {
    box-shadow: 0 1px 17px -7px #000;
    height: 45px;
    width: 100vw;
    background: linear-gradient(to right bottom, #e5e5e5 0%, #f7f7f7 10%, #ffffff 20%, #ffffff 80%, #f7f7f7 90%, #e5e5e5 100%);

    >li {
      float: left;
      width: 50vw;
      height: 45px;
      line-height: 45px;
      text-align: center;
      color: #2f2f2f;
      font-size: 15px;
      font-weight: 700;
      border: 0px #f3f3f3 solid;
      border-right-width: 2px;

      &.selected {
        position: relative;

        &:before {
          position: absolute;
          background: #22adff;
          content: '';
          height: 4px;
          width: 100%;
          top: 45px;
          left: 0;
        }
      }
    }
  }

  div[class="cnt_offLine"] {
    height: calc(100% - 45px);
    overflow-y: scroll;
    padding: 16px;
    padding-bottom: 100px;
    background: #fff;
    .back {
      padding: 0 0 20px 20px;
      font-size: 2vh;
      position: relative;
      &::before {
        content: '';
        width: 18px;
        height: 15px;
        background: url(assets/icon/arrow_db.png) no-repeat;
        background-size: contain;
        position: absolute;
        left: 0;
      }
    }
    div.form {
      text-align: center;

      p {
        margin-bottom: 10px;
        color: #9fadbf;
        font-size: 15px;
        span {
          color: #d78c71;
        }
      }

      p:first-child {
        text-align: left;
      }

      textarea {
        width: 100%;
        height: 180px;
        padding: 11px 12px 11px 12px;
        border: 1px solid #808080;
        border-radius: 5px;
        font-size: 18px;
        letter-spacing: 1px;
        outline:none;
      }

      button {
        margin-top: 5px;
        margin-bottom: 20px;
      }
    }

    div.massage {
      border-radius: 8px;
      border: 1px solid #ffffff;
      margin-bottom: 14px;
      box-shadow: 0 0 8px rgba(0,0,0,0.2);

      .read {
        position: absolute;
        right: 10px;
        top: 7px;
        color: #fff;
      }

      .title {
        border-radius: 6px 6px 0 0;
        padding-left: 14px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
        color: #ffffff;
        background: linear-gradient(to right, #bccde3 0%, #cfd9ea 100%);
      }

      .q {
        background-color: #fff;
        padding: 14px;
        min-height: 45px;
        line-height: 20px;
        border: 0px #ccc dashed;
        border-bottom-width: 1px;
        word-wrap: break-word;

        span {
          display: inline-block;
          width: 38px;
          color: #062744;
          font-size: 15px;
        }

        div {
          width: calc(100% - 38px);
          float: right;
          line-height: 20px;
        }
      }

      .a {
        background-color: #f9f9f9;
        padding: 14px;
        min-height: 45px;
        line-height: 20px;
        word-wrap: break-word;
        border-radius: 0 0 6px 6px;

        span {
          display: inline-block;
          width: 38px;
          color: #d3917a;
          font-size: 15px;
        }

        div {
          width: calc(100% - 38px);
          float: right;
          line-height: 20px;
        }
      }
    }
  }

  div[class="cnt_onLine"] {
    // height: calc(100Vh - 45px - 55px - 45px);
    overflow-y: scroll;
    //padding-top: 20px;
    padding-bottom: 30px;
    div.row {
      width: 92%;
      height: 100px;
      border-bottom: 1px #ccc dashed;
      margin: 0 auto;
      border-radius: 12px;
      box-shadow: 0px 0px 10px rgba(105, 105, 105, 0.3);
      position: relative;
      &.first {
        background: linear-gradient(to left, #f2dcc4 0%, #d6b899 41%, #c6a582 76%, #c6a582 100%);
        margin: 20px auto 20px auto;
      }
      &.second {
        background: linear-gradient(to right, #d0be89 0%, #b3916a 100%);
      }
      &::before {
        content: '';
        position: absolute;
        width: 90px;
        height: 100px;
        background: url(assets/ballstar.png) no-repeat;
        background-size: cover;
        right: 0px;
      }
      .left {
        width: 83%;
        padding: 0 0 0 20px;
        float: left;
        p {
          margin-right: 10px;
          color: #fff;
          display: block;
          position: relative;
          font-size: 3vh;
          padding: 15px 0 0 46px;
          &::before {
            content: '';
            display: inline-block;
            width: 14%;
            height: 28px;
            background: url('./assets/icon/livechat01.png') no-repeat 100% 100%;
            background-size: contain;
            position: absolute;
            top: 15px;
            left: 0px;
          }
          &.sec::before {
            background: url('./assets/icon/livechat02.png') no-repeat 100% 100%;
            background-size: contain;
          }
        }
        span {
          color: #fff;
          font-size: 16px;
          font-weight: 100;
          line-height: 20px;
          &.sub {
            color: #ebe0d4;
            font-size: 15px;
            line-height: 30px;
            &.blue {
              color: #dae8fb;
            }
          }
        }
      }
      .RightArrow {
        display :inline-block;
        position: relative;
        float: left;
        width: 15%;
        height: 80px;
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 35px;
          left: 25px;
          border-style: solid;
          border-width: 12px 0 12px 15px;
          border-color: transparent transparent transparent #ffffff;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 37px;
          left: 24px;
          border-style: solid;
          border-width: 10px 0 10px 13px;
          border-color: transparent transparent transparent #e8d1b9;
        }
        &.blue::after { border-color: transparent transparent transparent #b3916a;}
      }
    }
  }


}


article[class="modal"] {
  visibility: hidden;

  div.dialog {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    padding: 1px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 23px 7px rgba(#161654, .3);
    position: relative;

    .title {
      padding-left: 18px;
      color: #fff;
      line-height: 36px;
      border-radius: 5px 5px 0 0;
      text-shadow: 0 0 15px #000;
      background: linear-gradient(145deg, #aa8650 0%, #d1ba75 50%, #aa8650 100%);
    }

    img.close {
      position: absolute;
      width: 17px;
      right: 17px;
      top: 11px;
    }

    .cnt {
      height: 310px;
      text-align: center;
      padding-top: 30px;
    }
  }
}
