$dark_:#242424;
$all-font-weight:lighter;


main {
  // height: calc(100% - 69px);
  height: 100vh;
  transform: translateX(100%);
  z-index: 600;
  overflow: hidden;
  background-color: #f0f0f0;
  -webkit-transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  &.goleft {
    transform: translateX(0);
    padding: 0 0 200px 0;
    height: auto;
    background: url(./assets/bg.png) no-repeat top center;
    background-size: cover;
    &::before {
      display: none;
    }
  }
  .handicap_header {
    width: 100%;
    height: 64px;
    height: 30vh;
    display: -webkit-flex;
    flex-direction: column;
    color: #fff;
    font-size: 14px;

    background: url(./assets/handicap/handicap-header-bg.png);
    background-size: cover;
    background-position: center center;
    border-bottom: 2px solid #0f496e;
    position: relative;
    .back{
      position: absolute;
      transform: translate(-50%,-50%);
      top: 13%;
      left: 6.6%;
      width: 18px;
      height: 18px;
      background-image: url(./assets/icon/arrow_w.png);
      background-size: 100%;
    }
    em.game-name {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 13%;
      font-size: 18px;
      left: 50%;
      font-family: "微軟正黑體";
      &:before {
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: #ffffff transparent transparent transparent;
        content: "";
        position: absolute;
        transform: translate(-50%, -50%);
        left: 130%;
        top: 50%;
      }
    }
    &:active {
      background: linear-gradient(
        to right bottom,
        rgba(#043f73, 0.3) 0%,
        rgba(#9090e0, 0.3) 10%,
        #ffffff 20%,
        #ffffff 80%,
        rgba(#9090e0, 0.3) 90%,
        rgba(#043f73, 0.3) 100%
      );
    }
    p {
      line-height: 21px;
      &.date-color {
        color: #8fa8cb;
      }
      &.mid,
      &.mid2 {
        position: absolute;
        transform: translate(-50%, -50%);
        span {
          font-family: Bahnschrift;
          font-weight: lighter;
        }
      }
      &.mid {
        top: 40%;
        left: 50%;
      }
      &.mid2 {
        top: 56%;
        left: 50%;
        span {
          font-size: 33px;
        }
      }
    }
    // &:before {
    //   position: absolute;
    //   content: "";
    //   width: 18px;
    //   height: 18px;

    //   top: 23px;
    //   left: 16px;
    //   background-image: url(./assets/icon/arrow_w.png);
    //   background-size: 100%;
    // }
    .this-game {
        width: 100%;
        height: 50%;
       text-align: center;
        position: relative;
        transform: translateY(-50%);
        top: 50%;
        display: flex;
        justify-content: space-between;
        padding: 0 8%;
        span{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 35%;
            div{
                margin-bottom: 8px;
            }
            em{
                font-size: 17px;
                font-family: '微軟正黑體';
                font-weight: lighter;
            }
        }
        span:first-child{
            div{
              //隊伍圖片
                // background: url(./assets/handicap/country1.png)no-repeat;
                background-size: cover;
                background-position: center center;
                width: 50px;
                height: 60px;
            }
        }
        span:last-child{
            div{
               //隊伍圖片
                // background: url(./assets/handicap/country2.png)no-repeat;
            background-size: cover;
            background-position: center center;
            width: 50px;
            height: 60px;
            }
        }
    }
    .option{
        position: relative;
        left: 33vw;
        top: 7vh;
        //直播賽事拿掉  width: 50%; 原本
        width: 34%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(4, 28, 22, 0.89);
        line-height: 20px;
        height: 33px;
        border-radius: 20px;
        padding: 0 24px;
        span{
            height: 20px;
            font-size: 13px;
            font-family: "微軟正黑體";
            font-weight: lighter;
            white-space:nowrap;
        }
        span:first-child{
            div{
                background: url(./assets/icon/football-icon.png);
                background-size: cover;
                background-position: center center;
                width: 20px;
                height: 14px;
                display: inline-block;
                margin-right: 6px;
                top: 50%;
                position: relative;
                transform: translateY(-50%);
            }
        }
        span:last-child{
            div{
                background: url(./assets/icon/fight.png);
                background-size: cover;
                background-position: center center;
                width: 17px;
                height: 14px;
                display: inline-block;
                margin-right: 6px;
                top: 50%;
                position: relative;
                transform: translateY(-50%);
            }
        }
        &:before{
           //直播賽事拿掉  屏蔽content: ''
            // content: '';
            width: 1px;
            height: 100%;
            background-color: black;
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
        }
    }
    .refresh{
        position: absolute;
        transform: translate(-50%,-50%);
        top: 94%;
        left: 94%;
        width: 58px;
        font-size: 13px;
        font-weight: lighter;
        line-height: 14px;
        span:first-child{
            background: url(./assets/icon/refresh.png);
            background-size: cover;
            background-position: center center;
            width: 12px;
            height: 12px;
            display: inline-block;
        }

    }
  }

  section[class="handicap"] {
    position: relative;
    // height: calc(100% - 120px);
     //2020/03/02 70>64
    height: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    div[class="table"] {
        background: #fff;
        border-radius: 8px;
        margin: 20px auto;
        border: 1px solid #ffffff;
        width: 96.8vw;
      div[class="title"] {
        background: #fff;
        border-bottom: 1px solid #ebebeb;
        display: -webkit-flex;
        font-size: 15px;
        font-weight: bold;
        height: 45px;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        padding: 0 18px;
        position: relative;

        // border-bottom: 0.5px solid #ebebeb;
        p{
            color: $dark_;
            em{
                color: $dark_;
            }
            &:first-child{
              font-size: 18px;
              font-family: '微軟正黑體';
              font-weight: bolder;
              position: relative;
              &:before{
                content:'';
                position: absolute;
                background: linear-gradient(to bottom, #a5003d 0%,#fe4646 99%);
                width: 3.5px;
                height: 100%;
                border-radius: 20px;
                top: 6%;
                left: -15%;
              }
          }
          &:last-child{
            span{
              display: inline-block;
              &.icon{
                background: url(./assets/handicap/handicap_icon.png)no-repeat;
                background-size: 100%;
                background-position: center center;
                width: 20px;
                height: 20px;
                vertical-align: bottom;
                margin: 0 5px 0 0;
              }
            }
          }
        }

      }
      div[class="table-header"] {
        display: -webkit-flex;
        background: #fff;
        color: #7689a4;
        height: 30px;
        -webkit-align-items: center;
        align-items: center;
        padding: 0 5px;
        > p {
          font-size: 15px;
          font-weight: bold;
          width: 33.33%;
          text-align: center;
          &:last-child{
              text-align: left;
              padding-left: 30px;
          }
        }
      }
      ul {
        li {
          display: -webkit-flex;
          font-size: 16px;
          height: 44px;
          text-align: center;
          background-color: #f7f8fc;
          -webkit-align-items: center;
          align-items: center;
        //   font-family: '微軟正黑體';
        font-family: Bahnschrift;
          margin: 0 5px 10px 5px;
          border-radius: 8px;
          &.disable {
            background: #fff;
            p:last-child {
              color: #006ccc;
            }
          }

          p {
            width: 33.33%;
            font-size: 2.2vh;
            font-weight: lighter;
            font-family: Bahnschrift;
            &:nth-of-type(1) {
              color: #39455b;
              font-weight: 600;
            }
            &:nth-of-type(2) {

              color: #d22442;
              font-weight: bold;
            }
            &:last-child {
              color: #39455b;
              font-weight: 600;
              text-align: right;
              padding: 0 7% 0 0;
            }
          }
        }
      }
    }
  }
}

.record_btn {
  transform: translateX(500%);
  -webkit-transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  z-index: 999;
  color: #fff;
  font-size: 20px;
  position: fixed;
  right: 33px;
  bottom: 105px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(224, 170, 18, 0.7) 0,
    rgba(144, 101, 5, 0.7) 100%
  );
  &:active {
    background: #865700;
  }
  img {
    margin-top: 13px;
  }
  &.goleft {
    transform: translateX(0);

  }
}

.count-down {
  // transform: translateX(500%);
  -webkit-transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  z-index: 999;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 20px;
  position: fixed;
  right: 33px;
  top: 35%;
  left: 50%;
  width: 50px;
  height: 50px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  // background: linear-gradient(
  //   180deg,
  //   rgba(14, 121, 189, 0.7) 0,
  //   rgba(0, 35, 78, 0.7)
  // );
  &:active {
    background: #245682;
  }
  // &.goleft {
  //   transform: translateX(0);
  // }
  span {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 14px;
    position: absolute;
    background: rgba(64, 64, 64, 0.8);
    border-radius: 3px;
    color: #fff;
    width: 120%;
  }
}
