header {
  &.option {
  background: #fff;
    .nav {
      .hellocard {
        width: 90%;
        height: 88px;
        margin: 10px auto 0 auto;
        border-radius: 7px;
        .manhead {
          float: left;
          border-radius: 80px;
          width: 21%;
          height: auto;
          background: #ccc;
        }

        .text {
          float: left;
          text-align: left;
          margin: 10px 0 0 15px;
          h1 {
            color: #242424;
            font-size: 20px;
            font-weight: 400;
            span {
              color: #242424;
              font-size: 20px;
            }
            a {
              width: 45px;
              height: 18px;
              background: url(assets/market/vip001.png) no-repeat;
              background-size: cover;
              display: inline-block;
            }
          }
          span {
            color: #7689a4;
            font-size: 15px;
            line-height: 25px;
          }
        }
      }
      ul {
        &.title {
          li {
            float: left;
          }
          .pname {
            width: 60%;
            margin: 0 0 0 20%;
          }
          .set{
            width: 10%;
            height: 22px;
            background: url('assets/icon/set.png') no-repeat;
            background-size: contain;
          }
          .post {
            width: 10%;
            height: 22px;
            background: url('assets/icon/post.png') no-repeat;
            background-size: contain;
          }
        }
        &.money {
          li {
            float: left;
            width: calc(100% / 2);
            margin: 0 0 10px 0;
            position: relative;
            p {
              font-size: 16px;
              color: #646464;
            }
            span {
              font-size: 20px;
              color: #56718e;
              line-height: 30px;
            }
            &::after {
              content: '';
              width: 1px;
              height: 45px;
              background: #d5d5d5;
              position: absolute;
              right: 0;
              top: -7px;
            }
            &:last-child::after {
              width: 0;
            }
          }
        }
      }
    }
  }
}
main {
  &.option {
    // height: calc(100vh - 6vh);
    div{
      &.scroll_box{
        padding-bottom: 170px;

      }
      &.hellocard_box{
        background: #fff;
        width: 100%;
        padding: 10px 0 0 0;
       div{
        &.hellocard{
          width: 90%;
          display: inline-block;
          margin: 0 0 0 16px;
          img{
            &.manhead {
              float: left;
              border-radius: 80px;
              width: 21%;
              height: auto;
              background: #ccc;
            }
          }
          div{
            &.text {
              float: left;
              text-align: left;
              margin: 10px 0 0 15px;
              h1 {
                color: #242424;
                font-size: 20px;
                font-weight: 400;
                span {
                  color: #242424;
                  font-size: 20px;
                }
                a {
                  width: 45px;
                  height: 18px;
                  background: url(assets/market/vip001.png) no-repeat;
                  background-size: cover;
                  display: inline-block;
                }
              }
              span {
                color: #7689a4;
                font-size: 15px;
                line-height: 25px;
              }
            }
          }

        }
       }
      }

    }
    ul {
      // &.title {
      //   li {
      //     float: left;
      //   }
      //   .pname {
      //     width: 60%;
      //     margin: 0 0 0 20%;
      //   }
      //   .set{
      //     width: 10%;
      //     height: 22px;
      //     background: url('assets/icon/set.png') no-repeat;
      //     background-size: contain;
      //   }
      //   .post {
      //     width: 10%;
      //     height: 22px;
      //     background: url('assets/icon/post.png') no-repeat;
      //     background-size: contain;
      //   }
      // }
      &.money {
        clear: both;
        overflow: auto;
        background: #fff;
        margin: 0 0 15px 0;
        // border-bottom: solid 1px #c2a484;
        box-shadow: 0px 3px 3px #7b8aa269;
        li {
          text-align:center;
          float: left;
          width: calc(100% / 2);
          margin: 0 0 10px 0;
          padding: 10px 0 0 0;
          position: relative;
          p {
            font-size: 16px;
            color: #646464;
            line-height: 28px;
          }
          span {
            font-size: 20px;
            color: #56718e;
            line-height: 30px;
          }
          &::after {
            content: '';
            width: 1px;
            height: 45px;
            background: #d5d5d5;
            position: absolute;
            right: 0;
            top: 8px;
          }
          &:last-child::after {

            display: none;
          }
        }
      }
    }
    ul {
      &.menu {
        font-weight: bold;
        width: calc(100vw - 5px * 2);
        height: 85px;
        display: -webkit-flex;
        -webkit-align-items: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        background: #fff;
        padding: 8px 0 0 0;
        // border: solid 1px #c2a484;
        border-width: 1px 0px;
        box-shadow: 0px 0px 5px #7b8aa269;
        // box-shadow: 0 1px 17px -7px #000;
        li {
          float: left;
          width: calc(100% / 4);
          .icon-ft {
            margin: 0 auto;
            width: 38px;
            height: 38px;
            background: url(./assets/icon/mine.png) no-repeat;
            background-size: 390%;
            background-position-y: -32px;
            background-position-y: 0px;
            $icon-ft: money, betrd, moneyrd, card;
            @each $i in $icon-ft {
              &-#{$i} {
                  background-position-x: (100% / (length($icon-ft) - 1) * (index($icon-ft, $i) - 1));
              }
            }
          }
          span {
            color: #9e7e5e;
            font-size: 16px;
            padding: 0 0 0 15%;
            line-height: 28px;
          }
        }
      }
      &.list {
        margin: 8px 0 0 0;
        padding: 8px 0 0 0;
        flex-flow: wrap;
        display: flex;
        background: #fff;
        // border: solid 1px #c2a484;
        border-width: 1px 0px;
        box-shadow: 0px 0px 5px #7b8aa269;
        li {
          margin: 0 0 13px 0;
          position: relative;
          width: calc(100% / 4);
          display: flex;
          flex-direction: column;
          align-items: center;
          span{
            display: inline-block;
            width: 38px;
            height: 38px;
            margin: 0 0 8px 0;
            background: url('assets/icon/option_icons.png')no-repeat; background-size: 595%;
            &.edit{background-position: 0 0;}
            &.post{background-position: -38px 0;}
            &.feedback{background-position: -76px 0;}
            &.mobile{background-position: -114px 0;}
            &.set_page{background-position: -152px 0;}
            &.add_proxy{background-position: -190px 0;}
            // &.rule {background: url('assets/icon/option_rule.png') no-repeat; background-size: 100%;}
            // &.lang {background: url('assets/icon/option_lang.png') no-repeat; background-size: 100%;     height: 22px;}
            // &.result {background: url('assets/icon/option_result.png') no-repeat; background-size: 100%;}
            // &.post {background: url('assets/icon/option_post.png') no-repeat; background-size: 100%;}
            // &.cash {background: url('assets/icon/option_cash.png') no-repeat; background-size: 100%; height: 21px;}
            // &.feedback {background: url('assets/icon/option_feedback.png') no-repeat; background-size: 100%;}
            // &.edit {background: url('assets/icon/option_edit.png') no-repeat; background-size: 100%; height: 22px;}
            // &.score {background: url('assets/icon/option_score.png') no-repeat; background-size: 100%; height: 22px; background-position: center;}
            // &.help_page{background: url('assets/icon/option_help.png') no-repeat; background-size: 100%; height: 22px;}
            // &.set_page{background: url('assets/icon/option_set.png') no-repeat; background-size: 100%; height: 22px;}
            // &.mobile {background: url('assets/icon/option_app_to_mobile.png') no-repeat; background-size: 100%; height: 24px;background-position: center;}
          }
          p {
            font-size: 16px;
            color: #9e7e5e;
            display: inline-block;
          }
          // &::before {
          //   content: '';
          //   width: 7px;
          //   height: 11px;
          //   background: url(assets/icon/arrow_gb.png) no-repeat;
          //   background-size: cover;
          //   background-position: center center;
          //   position: absolute;
          //   top: 20px;
          //   right: 10px;
          // }
        }
      }
      &.out {
        margin: 12px auto;
        background: linear-gradient(to bottom,#efd3b4 0%,#ceaf8f 100%);
        text-align: center;
        width: 100%;
        border: solid 1px #c2a484;
        border-width: 1px 0px;
        li {
          display: inline-block;
          height: 45px;
          line-height: 45px;
          position: relative;

          span {
            width: 20px;
            height: 20px;
            float: left;
            margin: 13px 16px 0 0;
            &.logout {background: url('assets/icon/sign_out_black.png') no-repeat; background-size: cover;}
          }
          p {
            float: left;
            font-size: 17px;
            color: #fff;
            letter-spacing: 15px;
          }
          // &::before {
          //   content: '';
          //   width: 7px;
          //   height: 11px;
          //   background: url(assets/icon/arrow_gb.png) no-repeat;
          //   background-size: cover;
          //   background-position: center center;
          //   position: absolute;
          //   top: 20px;
          //   right: 10px;

          // }
        }
      }
    }
  }



    // div[class="list"] {
    //     font-size: 15px;
    //     font-weight: bold;
    //     padding: 30px 11% 11%;
    //     height: calc(100% - 75px);
    //     overflow-y: scroll;
    //     ul.row {
    //         display: -webkit-flex;
    //         -webkit-justify-content: space-between;
    //         justify-content: space-between;
    //         > li {
    //             width: 67px;
    //             text-align: center;
    //             margin-bottom: 33px;
    //             i {
    //               display: inline-block;
    //               width: 45px;
    //               height: 45px;
    //             }
    //             p {
    //               color: #e2f5ff;
    //               margin-top: 20px;
    //             }
    //             span {
    //               position: absolute;
    //               padding: 2px 5px;
    //               background: #ff4d4d;
    //               border-radius: 50%;
    //               font-size: 13px;
    //               color: #fff;
    //               top: -7px;
    //               right: -3px;
    //             }
    //         }
    //     }
    // }
}


div[class="alert"]{
    width: 100%;
    font-weight: bold;
    padding: 1px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 23px 7px rgba(#161654, .3);
    position: relative;
    top: -35px;
    animation: main_display 450ms ease-in-out;
    -webkit-animation: main_display 450ms ease-in-out;
    p.title {
        background: linear-gradient(to right, #f5bba6 0%, #cf8d75 100%);
        color: #fff;
        height: 36px;
        line-height: 36px;
        border-radius: 5px 5px 0 0;
        text-align: center;
    }
    ul > li {
        font-weight: bold;
        text-align: center;
        height: 56px;
        line-height: 56px;
        color: #39455b;
        &:not(:last-child) {
            border-bottom: 1px solid #e9e9e9;
        }
        &:active {
            color: #aa8650;
            background: linear-gradient(to right bottom, #e5e5e5 0%, #f7f7f7 10%, #ffffff 20%, #ffffff 80%, #f7f7f7 90%, #e5e5e5 100%);
        }
    }
}
.iframe{
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: -8px;
  background: linear-gradient(#b9c9d6,#698197);
}

.iframe_b{
  position: fixed;
  line-height: 3rem;
  width: 2rem;
  height: 2rem;
  right: 0px;
  top: 0px;
  z-index: 200;
  display: flex;
  .back_page {
    width: 25px;
    height: 22px;
    background: url('assets/icon/back.png') no-repeat;
    background-size: contain;
    position: relative;
    right: 0px;
    float: right;
    margin: 0 12px 0 0;
    top: 50%;
    transform: translateY(-50%);
    // float: right;
    // right: 0;
    // margin:0 12px 0 0;
    // top: 0px;
  }
}
