<header class="font-family-w">

  <div class="nav">
    <ul>
      <li class="back" (click)="location.back()"></li>
      <li class="title">{{ "優惠活動" | langChart : lang.languageChart }}</li>
    </ul>
  </div>

</header>

<main class="activity">
 <div class="card1">
      <div class="banner" (click)="open[0] = !open[0]">
        <div class="check"></div>
      </div>
    <div class="content" *ngIf="open[0]"></div>
  </div>


  <div class="card2">
    <div class="banner" (click)="open[1] = !open[1]">
      <div class="check"></div>
    </div>
  <div class="content" *ngIf="open[1]"></div>
</div>

<div class="card3">
  <div class="banner" (click)="open[2] = !open[2]">
    <div class="check"></div>
  </div>
<div class="content" *ngIf="open[2]"></div>
</div>


 <!-- <div class="card4">
  <div class="banner" (click)="open[3] = !open[3]">
    <div class="check"></div>
  </div>
<div class="content" *ngIf="open[3]"></div>
</div>

<div class="card5">
  <div class="banner" (click)="open[4] = !open[4]">
    <div class="check"></div>
  </div>
<div class="content" *ngIf="open[4]"></div>
</div> -->


<!-- <div class="card6">
  <div class="banner" (click)="open[5] = !open[5]">
    <div class="check"></div>
  </div>
<div class="content" *ngIf="open[5]"></div>
</div> -->

<!-- <div class="card7">
  <div class="banner" (click)="open[6] = !open[6]">
    <div class="check"></div>
  </div>
<div class="content" *ngIf="open[6]"></div>
</div> -->

</main>


