<header>
  <div class="nav">
    <ul>
      <li class="back" (click)="location.back()"></li>
      <li class="title">設定</li>
    </ul>
  </div>
</header>


<!--2020_0410add-->
<main id="main">
  <section class="enactment">
    <ul>
      <li>接收公告推撥通知<div class="wrap"><div class="ball"></div></div></li>
      <li>接受優惠推撥通知<div class="wrap"><div class="ball"></div></div></li>
      <li>提示音效<div class="wrap"><div class="ball"></div></div></li>
      <li class="footer">版本: <div class="nb">v2.7.132</div>  </li>
    </ul>
  </section>
</main>



