

<div class="rules">
    <h2>{{ "說明如何將各瀏覽器加入到手機桌面" | langChart : lang.languageChart }}</h2>
    <p>safari</p>
    <div>
        <span>1.</span>{{ "點選下方圖示按鈕" | langChart : lang.languageChart }}。
        <img src="../../img/addhome/safari/IMG_7872.jpg" width="100%" height="100%" alt="RM">
    </div>
    <div>
        <span>2.</span>{{ "點選加入主畫面" | langChart : lang.languageChart }}。
        <img src="../../img/addhome/safari/IMG_7873.jpg" width="100%" height="100%" alt="RM">
    </div>
    <div class="arr"></div>


    <p>百度</p>
    <div>
        <span>1.</span>{{ "點選下方圖示按鈕" | langChart : lang.languageChart }}。
        <img src="../../img/addhome/baidu/IMG_7880.jpg" width="100%" height="100%" alt="RM">
    </div>
    <div>
        <span>2.</span>{{ "點選添加到桌面" | langChart : lang.languageChart }}。
        <img src="../../img/addhome/baidu/IMG_7881.jpg" width="100%" height="100%" alt="RM">
    </div>
    <div class="arr"></div>
    

    <p>UC</p>
    <div>
        <span>1.</span>{{ "點選下方圖示按鈕" | langChart : lang.languageChart }}。
        <img src="../../img/addhome/uc/IMG_7874.jpg" width="100%" height="100%" alt="RM">
    </div>
    <div>
        <span>2.</span>{{ "點選收藏網址" | langChart : lang.languageChart }}。
        <img src="../../img/addhome/uc/IMG_7875.jpg" width="100%" height="100%" alt="RM">
    </div>
    <div>
        <span>3.</span>{{ "添加到主頁圖標" | langChart : lang.languageChart }}。
        <img src="../../img/addhome/uc/IMG_7876.jpg" width="100%" height="100%" alt="RM">
    </div>
    <div class="arr"></div>


    <p>搜狗</p>
    <div>
        <span>1.</span>{{ "點選下方圖示按鈕" | langChart : lang.languageChart }}。
        <img src="../../img/addhome/sogou/IMG_7877.jpg" width="100%" height="100%" alt="RM">
    </div>
    <div>
        <span>2.</span>{{ "點選添收藏" | langChart : lang.languageChart }}。
        <img src="../../img/addhome/sogou/IMG_7878.jpg" width="100%" height="100%" alt="RM">
    </div>
    <div>
        <span>3.</span>{{ "添加到首屏" | langChart : lang.languageChart }}。
        <img src="../../img/addhome/sogou/IMG_7879.jpg" width="100%" height="100%" alt="RM">
    </div>
    <div class="arr"></div>
</div>