

<div >
    <p>Score</p>
    <div>
        <span>1.</span>Select the Score Option。
        <img src="../../img/manual1.jpg" width="100%" height="100%" alt="RM">
    </div>
    <div>
        <span>2.</span>Input the gold that you want to bet, minimum limit 100, the gold can't not be exceeded "Trading" or "Balance"。
        <img src="../../img/manual2.jpg" width="100%" height="100%" alt="RM">
    </div>
    <div>
        <div class="title">You are <span class="red">AGAINST</span> the game result will be 0-0。</div>
        If you invest the option on 1000, and the result is 0-0, it means deficit, in<span class="red">other way of result</span>means<span class="red">win</span>.<br>
        <br>
        Profit calculation: 1000(Gold) * 0.0854(Win profits) * 0.95(Fee) = <span class="red">81.13</span>
    </div>
</div>