* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
}
html, body {
    font-family: \\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei,MingLiU,"sans-serif",Helvetica Neue,Helvetica,Arial,sans-serif;
    /*禁止選中文本*/
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    /*禁止IOS調整字體大小*/
	  -webkit-text-size-adjust: 100%;
    width: 100%;
	  height: 100vh;
    position: relative;
	  left: 0;
    top: 0;
    // background: linear-gradient(to bottom, #fbfbfb 0%,#cedbe2 30%, #839ab0 70%, #516984 100%);
}
a,button,input,optgroup,select,textarea {
    /*去掉a、input和button點擊時的藍色外邊框和灰色半透明背景*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    border: none;
}
button,input,optgroup,select,textarea {
    /*去掉webkit默認的表單樣式*/
    -webkit-appearance:none;
}
input::-webkit-input-speech-button {
    /*隱藏Android的語音輸入按鈕*/
    display: none;
}
//Microsoft Yahei 微軟雅黑  Microsoft JhengHei 微軟正黑
p, span {
  font-family: 'Microsoft JhengHei';
}
.fb { font-family: Bahnschrift;}

//color
$text-lblue: #7689a4;
$text-lblue2: #bfc9de;
$text-dblue: #39455b;
$text-lpink: #d78c71;
$text-mpink: #bc7867;
$text-dpink: #cf6038;
$text-lgold: #c8ad5b;
// 漸層
$bg-grpink: linear-gradient(to right, #f5bba6 0%, #cf8d75 100%);
$bg-grpink2: linear-gradient(to right, #f5bba6 0%, #e6a38b 100%);
$bg-gbgray: linear-gradient(to bottom, #fff 50%, #f3f3f3 100%);
$bg-gbblue: linear-gradient(to bottom, #f3f9ff 0%, #e9f2ff 50%, #c9ddff 100%);
$bg-gsblue: linear-gradient(-45deg, #ddebff 0%, #f5f8ff 10%, #f8fbff 10%, #f6faff 50%, #ffffff 50%, #f5f9ff 70%, #f5f8ff 70%, transparent 90%, #f5f8ff 90%, #ddebff 100%);


header {
    z-index: 800;
	position: fixed;
    width: 100%;

    //background: linear-gradient(135deg, #062744 0%, #0f3e67 30%, #175780 50%, #0f3e67 70%, #062744 100%);

    //box-shadow: 0 0px 6px 2px rgba(#000, .3);
    .nav {
        width: 100%;
        text-align: center;
        font-size: 18px;
        ul {
            position: relative;
            width: 100%;
              padding: 8px 0 10px 0;
              height: 6vh;
              line-height: calc(6vh - 13px - 10px );
              display: inline-block;
              color: #dcdcdc;
              background: linear-gradient(to right, #bd9872 0%, #e9ccad 18%, #d3b494 34%, #bd9872 60%, #f5e6bc 82%, #e9ccad 100%);
              border-radius: 0 0 13px 13px;
            li {
            //   float: left;
            //   position: absolute;
            vertical-align: super;
            display: inline-block;
            &.back {
                width: 5%;
                height: 16px;
                background: url('assets/icon/arrow_db.png') no-repeat;
                background-size: contain;
                margin: 2px 0 0 12px;
                position: absolute;
                left: 0;
                top: 40%;
                transform: translateY(-50%);
              }
              &.title {
                font-size: 2.4vh;
                position: absolute;
                transform: translate(-50%,-50%);
                left: 50%;
                top: 50%;
                color: #fff;
                span{
                    &.count {
                        position: absolute;
                        right: -24px;
                        top: 0;
                        color: #fff;
                        border-radius: 20%;
                        padding: 0px 5px 2px;
                        font-size: 1.8vh;
                        background: linear-gradient(to right,  #fe4646 0%,#e02f43 40%,#bf1540 70%,#a8033d 100%);
                      }
                }
              }
              &.btn {
                width: 55%;
                color: #fff;
                position: absolute;
                line-height: 3.5vh;
                left: 11vh;
                 //2020/03/02 屏蔽箭頭
              //   &::before {
              //     content: '';
              //     position: absolute;
              //     top: 1.4vh;
              //     //left: 22vh;
              //     width: 0;
              //     height: 0;
              //     border-style: solid;
              //     border-width: 4px 5px 0 5px;
              //     border-color: #39455b transparent transparent transparent;
              //     margin: 0 0 0 37%;
              //   }
              }

              &.wallet {
                width: 25px;
                height: 22px;
                background: url('assets/icon/market_wallet.png') no-repeat;
                background-size: contain;
                position: absolute;
                right: 35px;
                margin: 0 12px 0 0;
                top: 50%;
                transform: translateY(-50%);
              }
              &.search {
                width: 25px;
                height: 22px;
                background: url('assets/icon/market-search-gray.png') no-repeat;
                background-size: contain;
                position: relative;
                right: 0px;
                float: right;
                margin: 0 12px 0 0;
                top: 50%;
                transform: translateY(-50%);
                // float: right;
                // right: 0;
                // margin:0 12px 0 0;
                // top: 0px;
              }
              &.back_page {
                width: 25px;
                height: 22px;
                background: url('assets/icon/back.png') no-repeat;
                background-size: contain;
                position: relative;
                right: 0px;
                float: right;
                margin: 0 12px 0 0;
                top: 50%;
                transform: translateY(-50%);
                // float: right;
                // right: 0;
                // margin:0 12px 0 0;
                // top: 0px;
              }
              &.chat_img {
                  width: 25px;
                  height: 25px;
                  background: url(./assets/header/chat.png) no-repeat;
                  background-size: contain;
                  position: relative;
                  cursor: pointer;
                  float: right;
                  right: 0;
                  margin:0 12px 0 0;
                  top: 50%;
                  transform: translateY(-50%);
                  &.active{
                      &:before{
                          content: "";
                          width: 8px;
                          height: 8px;
                          position: absolute;
                          transform: translate(-50%, -50%);
                          top: 0%;
                          left: 106%;
                          border-radius: 100px;
                          background-color: red;
                      }
                  }

                }
              &.edit {
                width: 25px;
                height: 22px;
                background: url('assets/icon/set.png') no-repeat;
                background-size: contain;
                float: right;
                right: 0;
                margin:0 12px 0 0;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
    }

        .icon {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0px;
            height: 45px;
            width: 20%;
            i {
                width: 28%;
                left: 25px;
            }
        }
        .setting {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            height: 40px;
            width: 17%;
            i {
                margin-top: 9px;
                font-size: 22px;
            }
        }

    }


main {
    z-index: 0;
    position: relative;
    width: 100%;
    // background: linear-gradient(to bottom, #fbfbfb 0%,#cedbe2 30%, #839ab0 70%, #516984 100%);
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
    padding: 6.3vh 0 200px 0;
    &::before {
      content: '';
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0px;
      left: 0px;
      background: url(./assets/bg.png) no-repeat top center;
      background-size: cover;
      display: inline-block;
      z-index: -1;
    }
}


footer {
    -webkit-transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    background: #ffffff;
    color: #797f95;
    z-index: 500;
    position: fixed;
    bottom: 0;
    width: 100%;
    //border-top: 1px solid #1efdf4;
    border-radius: 15px 0 0 0px;
    box-shadow: 0px -2px 5px 0px #bec2c8;
   // transform: translateY(100%);
    &.goleft {
        transform: translateX(-100%);
    }
    &:hover,&:active,&.active{
        // transform: translateY(0%);
    }
    &.active{
        div{
            &:last-child{
                div{
                    &.top_block{
                        em{
                            width: 10px;
                            height: 10px;
                            background: url('assets/icon/double_arrow_red.png') no-repeat;
                            background-size: cover;
                            background-position: center center;

                        }
                        p{
                            padding: 0;
                            font-size: 12px;
                            vertical-align: middle;
                            color: #d22442;

                        }
                    }
                }
            }
        }
    }
    div {
        position: relative;
        display: block;
        width: 20%;
        float: left;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        //border-right: 1px solid #3485a5;
        &:last-child{
            div{
                &.top_block{
                    position: absolute;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 32vw;
                    height: 36px;
                    line-height: 20px;
                    background: url('assets/icon/footer_title_s.png') no-repeat;
                    background-size: cover;
                    background-position: center center;
                    transform: translate(0%, -50%);
                    top: -26%;
                    right: 0;
                    padding: 0;
                    em,p{
                        display: inline-block;
                    }
                    p{
                        margin: 10px 20px 0 0;
                    }
                    em{
                        margin: 10px 5px 0 0;
                    }
                    em{
                        width: 10px;
                        height: 10px;
                        background: url('assets/icon/double_arrow_blue.png') no-repeat;
                        background-size: cover;
                        background-position: center center;

                    }
                    p{
                        padding: 0;
                        font-size: 12px;
                        vertical-align: middle;
                        color: #979797;

                    }
                }
            }

        }
        &:active {
            background: #191931;
        }
        &.active {
            color: #cbab8b;
            //background: linear-gradient(145deg, #75ffdf 0%, #1787ab 50%, #1c789a 60%, #134461 100%);
            .icon-ft {
                background-position-y: 100%;
            }

        }
        p {
            font-size: 12px;
            padding-top: 5px;
        }
        span {
            position: absolute;
            padding: 2px 5px;
            background: #ff4d4d;
            border-radius: 50%;
            font-size: 13px;
            color: #fff;
            top: 0;
            right: 10px;
        }
    }

    .icon-ft {
        margin: 0 auto;
        width: 25px;
        height: 25px;
        background: url(./assets/icon/footer.png) no-repeat;
        background-size: 800%;
        background-position-y: -32px;
        background-position-y: 1px;
        $icon-ft: home, market , details, history, mine , set, p1 ,p2   ;
        @each $i in $icon-ft {
            &-#{$i} {
                background-position-x: (100% / (length($icon-ft) - 1) * (index($icon-ft, $i) - 1));
            }
        }
    }
}
